---
interface Props {
	html: string;
}

const { html } = Astro.props;
---

<div class="flex flex-1 min-h-0 justify-center">
	<div class="overflow-y-auto scroll-smooth">
		<article
			class="max-w-4xl shadow-md bg-white p-16 m-4 font-serif border border-slate-200 rounded min-w-4xl min-h-screen"
			set:html={html}
		/>
	</div>
</div>
