---
import { type TocItem } from "@/utils/markdown-engine";
const { headers } = Astro.props;
console.log(headers);
---

<div class="flex flex-col w-full">
	<nav class="flex flex-col max-h-64 overflow-y-auto min-h-0">
		<span class="text-slate-400 uppercase font-bold text-sm whitespace-nowrap"
			>Table of contents</span
		>
		<div class="flex py-2 w-full">
			<div class="bg-slate-200 self-stretch w-px"></div>
			<div class="px-3">
				{
					headers.map(({ text, slug, href }: TocItem) => (
						<div class="mb-1">
							<a
								href={href}
								data-slug={slug}
								class="text-sm text-slate-500 whitespace-nowrap hover:text-blue-900 hover:px-2"
							>
								{text}
							</a>
						</div>
					))
				}
			</div>
		</div>
	</nav>
</div>
