---
import { Scale } from "lucide-react";
import LoginModal from "./LoginModal.astro";
const currentPath = Astro.url.pathname;
const active =
	"h-full flex items-center text-blue-900 border-b border-blue-900";
const inactive =
	"h-full flex hover:text-blue-900 items-center border-b border-transparent";
---

<nav class="bg-white border-solid border-b border-slate-200 top-0 sticky z-50">
	<div class="mx-auto px-8">
		<div class="flex h-16 justify-between">
			<!-- Logo -->
			<div class="flex items-center gap-3 cursor-pointer">
				<div
					class="flex h-8 w-8 bg-blue-900 justify-center items-center font-bold rounded text-white"
				>
					<a href="/">
					<Scale size={18} />
					</a>
				</div>
				<div class="flex flex-col">
					<a href="/">
						<div
							class="font-bold text-lg leading-tight tracking-tight text-blue-900 mb-0 select-none"
							>OpenJuris<span class="text-red-600">PH</span>
						</div>
						<div
							class="text-[10px] uppercase tracking-wider text-slate-500 font-medium mt-0 select-none"
							>
							Law & Jurisprudence Archive
						</div>
					</a>
				</div>
			</div>
			<!-- Selector -->
			<div class="flex items-center text-sm text-slate-600 gap-5">
				<a href="/" class={currentPath === "/" ? active : inactive}
					>AI Research</a
				>
				<a
					href="/archive"
					class={currentPath === "/archive" ? active : inactive}
					>Browse Archive</a
				>
				<a href="/about" class={currentPath === "/about" ? active : inactive}
					>About</a
				>
				<LoginModal />
			</div>
		</div>
	</div>
</nav>
